.page__cover {
  max-width: 880px;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
}

@media (max-width: 880px) {
  .page__cover {
    max-width: 580px;
  }
}

@media (max-width: 584px) {
  .page__cover {
    max-width: 282px;
  }
}
