.popup__container {
  margin-left: calc((100vw - 430px) / 2);
  margin-top: calc((100vh - 530px) / 2);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 34px 36px 37px;
  max-width: 430px;
  width: 100%;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

@media (max-width: 880px) {
  .popup__container {
    max-width: 282px;
    padding: 25px 22px;
    margin-top: calc((100vh - 322px) / 2);
    margin-left: calc((100vw - 300px) / 2);
  }
}
